.woocommerce_page_wc-settings .blockUI.blockOverlay{position:relative}
.woocommerce_page_wc-settings .blockUI.blockOverlay::before{height:1em;width:1em;display:block;position:absolute;top:50%;left:50%;margin-left:-.5em;margin-top:-.5em;content:'';-webkit-animation:spin 1s ease-in-out infinite;animation:spin 1s ease-in-out infinite;background:url(../images/icons/loader.svg) center center;background-size:cover;line-height:1;text-align:center;font-size:2em;color:rgba(0,0,0,.75)}
div#available-city-adder {
    display: none;
}
p.form-field.singleLocationPrice {
    position: relative;
}
span.deletelocationPrice {
    line-height: 73px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}
span.deletelocationPrice:hover span {
    color: #e22d2d;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0b9444;
}

input:focus + .slider {
  box-shadow: 0 0 0px #0b9444;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.locationpricesinglewrap {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
.easy {
  max-width: 50%;
  float: left;
  width: 50%;
  vertical-align: middle;
  display: table;
}
.easy.right > div {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding: 7px 0;
  text-align: right;
}
input#search_easy {
  padding: 4px;
  min-width: 233px;
}
div#edit_multiple_area {
  background-color: #fff;
  float: left;
  padding: 15px;
  box-shadow: 2px 3px 1em #aaa;
  margin-bottom: 12px;
}
.editarea_wrap {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-top: 20px;
}
div#edit_multiple_area > input[type="text"] {
  width: 300px;
  margin-right: 20px;
}
div#edit_multiple_area label {
  display: block;
  margin-bottom: 5px;
}
.eszipcodes label {
  display: block;
  margin-bottom: 3px;
}

.mb-1{margin-bottom:1em;}
.mb-2{margin-bottom:2em;}
.mb-3{margin-bottom:3em;}
.mb-4{margin-bottom:4em;}
.mb-5{margin-bottom:5em;}

.mt-1{margin-top:1em;}
.mt-2{margin-top:2em;}
.mt-3{margin-top:3em;}
.mt-4{margin-top:4em;}
.mt-5{margin-top:5em;}

table.dataTable thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }
table#dataTable > thead tr > th:first-child {
  background-image: unset;
}
table#dataTable > thead tr > th {
  background-position: -5px;
}
table.wc-shipping-zone-settings .singleDeliverArea ul.ziplist li input {
  max-width: 50px;
  width: 100px;
}
table.wc-shipping-zone-settings .singleDeliverArea ul.ziplist li{
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
table.wc-shipping-zone-settings .singleDeliverArea ul.ziplist li span.delete {
  position: absolute;
  top: 0;
  right: 0;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  display: none;
}
table.wc-shipping-zone-settings .singleDeliverArea ul.ziplist li:hover span.delete{
  display: block;
}
table.wc-shipping-zone-settings .singleDeliverArea ul.ziplist li span.delete:hover
{
  color: #e22d2d;
}
.singleDeliverArea {
  background-color: rgba(0,0,0,0.1);
  padding: 15px;
  margin: 10px 0;
  position: relative;
}
.singleDeliverArea span.delete.area {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  cursor: pointer;
}

.singleDeliverArea:hover span.delete.area{
  display: block;
}
.singleDeliverArea span.delete.area:hover{
  color: #e22d2d;
}

.singleDeliverArea > input#delivery_area {
  width: 30% !important;
}
.singleDeliverArea > input#delivery_zipcode {
  width: 20% !important;
}

.singleDeliverArea input:not(#delivery_area):not(#delivery_zipcode):not(.checkbox){
  width:10% !important;
}
.singleDeliverArea > input.checkbox {
  width:auto !important;
  margin-top:10px;
}
.singleDeliverArea > input {
  display: inline-block;
  margin-right: 5px !important;
}
span.savebutton {
  display: block;
  background-color: #03A9F4;
  color: #fff;
  width: 29px;
  text-align: center;
  margin-top: 2px;
  cursor: pointer;
  margin-left: 2px;
}
span.savebutton:hover{
  background-color: gray;
}
p.addTimeSlot span {
  cursor: pointer;
}
input[name="order_limit"] {
  max-width: 100%;
}
input.form-control {
  max-width: 100%;
}
table#expressTable th {
  padding-left: 10px;
}
table#expressTable tr:nth-child(odd) {
  background-color: #e8e7e7;
}
table#expressTable tr:nth-child(even) {
  background-color: #fff;
}
td.delete span {
  cursor: pointer;
}
td.delete span:hover {
  color: #cb0303;
  transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
}
table#expressTable select {
  max-width: 100%;
  height: 35px;
}